In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import user_name, password

In [2]:
# SQL Alchemy
#engine = create_engine(f'postgresql+psycopg2://{user_name}:{password}@localhost:5432/Olympics')
#conn = engine.connect()
#Athlete = pd.read_sql('select * from athlete', conn)
olympics=pd.read_csv("olympics.csv")
olympics.head()

   id  year     sport     sex nationality medal                       name
0   0  1976  Aquatics    male         USA  Gold        Philip George Boggs
1   1  1976  Aquatics  female         USA  Gold      Jennifer Kay Chandler
2   2  1976  Aquatics  female         USA  Gold   Shirley Farber Babashoff
3   3  1976  Aquatics    male         USA  Gold       Brian Stuart Goodell
4   4  1976  Aquatics    male         USA  Gold       Matthew Haynes Vogel

In [3]:
rds_connection_string = "postgres:postgres@localhost:5432/olympics"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
engine.table_names()

['athlete']

In [5]:
olympics.to_sql(name='athlete', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "athlete_pkey"
DETAIL:  Key (id)=(0) already exists.

[SQL: INSERT INTO athlete (id, year, sport, sex, nationality, medal, name) VALUES (%(id)s, %(year)s, %(sport)s, %(sex)s, %(nationality)s, %(medal)s, %(name)s)]
[parameters: ({'id': 0, 'year': 1976, 'sport': 'Aquatics', 'sex': 'male', 'nationality': 'USA', 'medal': 'Gold', 'name': ' Philip George Boggs'}, {'id': 1, 'year': 1976, 'sport': 'Aquatics', 'sex': 'female', 'nationality': 'USA', 'medal': 'Gold', 'name': ' Jennifer Kay Chandler'}, {'id': 2, 'year': 1976, 'sport': 'Aquatics', 'sex': 'female', 'nationality': 'USA', 'medal': 'Gold', 'name': ' Shirley Farber Babashoff'}, {'id': 3, 'year': 1976, 'sport': 'Aquatics', 'sex': 'male', 'nationality': 'USA', 'medal': 'Gold', 'name': ' Brian Stuart Goodell'}, {'id': 4, 'year': 1976, 'sport': 'Aquatics', 'sex': 'male', 'nationality': 'USA', 'medal': 'Gold', 'name': ' Matthew Haynes Vogel'}, {'id': 5, 'year': 1976, 'sport': 'Aquatics', 'sex': 'male', 'nationality': 'USA', 'medal': 'Gold', 'name': ' John Phillips Naber'}, {'id': 6, 'year': 1976, 'sport': 'Aquatics', 'sex': 'male', 'nationality': 'USA', 'medal': 'Gold', 'name': ' John Phillips Naber'}, {'id': 7, 'year': 1976, 'sport': 'Aquatics', 'sex': 'male', 'nationality': 'USA', 'medal': 'Gold', 'name': ' James Paul Montgomery'}  ... displaying 10 of 1035 total bound parameter sets ...  {'id': 1033, 'year': 2016, 'sport': 'aquatics', 'sex': 'male', 'nationality': 'USA', 'medal': 'Gold', 'name': 'Townley Haas'}, {'id': 1034, 'year': 2016, 'sport': 'shooting', 'sex': 'female', 'nationality': 'USA', 'medal': 'Gold', 'name': 'Virginia Thrasher'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
pd.read_sql_query('select * from athlete', con=engine).head()